
:root{
    --Green : #5ba601;
    --Blue : #19294b;
    --Blue-Transparent: rgba(25, 41, 75,0.5);;
   --Grey : #f2f3f5;
   --Grey1 : #f3f3f3;
   --White : #fff;
   --Black : #000000;





}
.bg-blue-transparent{
background-color: var(--Blue-Transparent);


}
body{
    background-color: rgb(252,252,252);
}


.contact-wrapper{
background-color: var(--Green);


}
.contact-social-info{

    padding: 6px 0;
    display: flex;
    justify-content: space-between;
    
    }
    .contact-social-info ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    
    }
    .contact-social-info ul li a{
    
        padding: 12px;
        text-decoration: none;
        color:var(--White);
    }
    .contact-social-info ul li a:first-child{

padding-left: 0;

    }
    .header .navbar{
position: absolute;
width: 100%;
z-index: 1;

    }

    .search-area{

        background-color: var(--Grey1);
        align-items: center;
    }
.search-choice .form-check{
margin-right: 12px;

}
.featured-card{
position: relative;

}
.featured-card figcaption{
position: absolute;
width: 100%;
bottom:0;
z-index: 1;
}
 .featured-card:after{

    content: '';
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.7178221630449055) 21%, rgba(0,0,0,0.2024160005799195) 50%);
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    }
.featured-card figcaption img{
width: 40px;
height: 40px;
border-radius: 50%;


}
.col-md-3 a{
text-decoration: none;
color: var(--Green);
margin:0 12px;


}
.services{

background-color: var(--Grey);

}

.bg-theme-green{
    background-color: var(--Green);


}
.svr2{
    background-color: var(--Blue);
}
.service{
padding: 50px;
text-align: center;
position: relative;
}
.svr1::after{
    content: "\e995";
    font-family: 'icomoon' !important;
    display: block;
    position: absolute;                    
  font-size: 200px;
  top:0%;
  left: 10%;
  mix-blend-mode: darken;
  opacity: 0.1;
    
    
    }
    .svr2::after{
        content: "\e971";
        font-family: 'icomoon' !important;
        display: block;
        position: absolute;                    
      font-size: 200px;
      top:0%;
      left: 10%;
      mix-blend-mode: darken;
      opacity: 0.1;
      color: white;
        
        
        }
        .svr3::after{
            content: "\e9a6";
            font-family: 'icomoon' !important;
            display: block;
            position: absolute;                    
          font-size: 200px;
          top:0%;
          left: 10%;
          mix-blend-mode: darken;
          opacity: 0.1;
          
            
            
            }
        
        
.service span{
font-size: 70px;
color: var(--White);
display: inline-block;
margin-bottom: 16px;

}
.service h3,.service p{
margin: 0;
color: var(--White);

}
.card-body span{
color:var(--Green);


}

.card-body a{
text-decoration: none;
background-color: var(--Green);
color: var(--White);
padding: 1px;
margin-left: 12px;
}

.card-body{
margin:6px 12px;



}
.card{
    position: relative;
}
.property-avatar{
display: flex;
position: absolute;
bottom: 0;
top:0;
margin: 6px;
align-items: center;


}
 .profile-logo img{
width: 40px;
height: 40px;
border-radius: 50%;
}

.property-avatar .profile-addfavourite{
margin-left: 250px;

}
.apartment-features ul{
list-style: none;
text-decoration: none;
display: flex;
justify-content: space-between;
padding: 10px;
}
.apartment-features ul li{
border-left: 2px solid var(--Grey);
border-right: 2px solid var(--Grey);


}

    @media (max-width : 991.98px)
    {
.contact-wrapper{
display: none;
 }
    }